

.about-header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/background.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
     overflow-x:hidden ;
      color: #fff;
}

.about-section{
height: 100%;
}

.about-section .row{
    overflow: hidden; 
}


.teamPhotos {
    border-radius: 360px;
    margin: auto auto;
}

.teamQuadrant {
    background-color: #fafbfc;
    border: 1px solid #586069;
    border-radius: 5px;

}
.fluid-container{

}

.personContent {
    padding: 1em;
}

.bios {
    padding: .5em;
    color: #6a737d !important;
}


.about-section h3 {
    color: #586069;
    margin: auto auto;
    font-size: 2em;
}
@media (max-width: 250px) {
    .about-section h3 {
       font-size: 2em !important;
       margin: auto auto;
    }
    .teamPhotos {
        border: 2px solid #24292e !important;
    }
}

@media (min-width: 992px) {
    .about-section h3 {
        font-size: 1.95em !important;
    }
    .teamQuadrant {
      
    }
}

.about-section p {
    color: rgba(255,255,255,0.6);
}

.about-section .buttons {
    margin-top: -15px !important;
    padding-bottom: 10px;
}
