    <!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars fa-2x"></i>
            </button>

            <a class="navbar-brand page-scroll" href="#!/">
                <img class="img-responsive" src="../img/gitmatch-nav-logo.png" alt="GitMatch.Me">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse" style="z-index: 3000;">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="#!/home">Match <i class="fa fa-Search" aria-hidden="true"></i> </a>
                </li>
                <li>
                    <a href="#!/location">Location <i class="fa fa-Search" aria-hidden="true"></i> </a>
                </li>
            
            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- About Section -->
<header class="about-header">
    <div class="about-section container text-center app-container">

        <h1>ABOUT</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <img class="img-responsive " src="../img/gitmatch-logo.png" style="margin: auto;" alt="GitMatch.Me">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">

                        <img class="img-responsive " src="../img/gitmatch-location-logo.png" style="margin: auto;" alt="GitMatch.Me Location">
                    </div>
                </div>



            </div>
            <div class="col-md-8">
                <p style="text-align: left;">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                    luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus
                    legentis in iis qui facit eorum claritatem.
                </p>
            </div>

        </div>
        <div class="row">
            <h1>TEAM</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 teamQuadrant fluid-container">
                <div class="personContent">
                    <img class="teamPhotos img-responsive" src="https://avatars0.githubusercontent.com/u/26106749?v=3&s=460">
                    <h3>Mario Esparza</h3>
                    <p class="bios">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                        nisl ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="buttons">
                    <a class="github-button" href="https://github.com/marioesparza" aria-label="Follow @marioesparza on GitHub">Follow @marioesparza</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 teamQuadrant fluid-container">
                <div class="personContent">
                    <img class="teamPhotos img-responsive" src="https://avatars0.githubusercontent.com/u/13072194?v=3&s=400">
                    <h3>Brett Reinhard</h3>
                    <p class="bios">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                        nisl ut aliquip ex ea commodo consequat.
                </div>
                <div class="buttons">
                    <a class="github-button" href="https://github.com/bareinhard" aria-label="Follow @bareinhard on GitHub">Follow @bareinhard</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 teamQuadrant fluid-container">
                <div class="personContent">
                    <img class="teamPhotos img-responsive" src="https://avatars3.githubusercontent.com/u/12804383?v=3&s=400">
                    <h3>Robert Sandor</h3>
                    <p class="bios">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                        nisl ut aliquip ex ea commodo consequat.
                </div>
                <div class="buttons">
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/robertisandor" aria-label="Follow @robertisandor on GitHub">Follow @robertisandor</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 teamQuadrant fluid-container">
                <div class="personContent">
                    <img class="teamPhotos img-responsive" src="https://avatars2.githubusercontent.com/u/20157739?v=3&s=460">
                    <h3>Travis Rand</h3>
                    <p class="bios">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                        nisl ut aliquip ex ea commodo consequat.
                </div>
                <div class="buttons">
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/travisrand" aria-label="Follow @travisrand on GitHub">Follow @travisrand</a>
                </div>
            </div>
        </div>
    </div>
</header>
    <!-- Chart JS Dummy Div-->
<canvas style="height: 0px; width: 0px;" id="myChartLocation"></canvas>